
.nav-bar {
  background-color: #14235c;
  padding: 1rem;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-bar a {
  color: #FFF7F7;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-bar a:hover {
  color: #C68FE6;
}

.nav-bar a.active {
  color: #6c48c5;
  border-bottom: 2px solid #c68fe6;
}