.scroll-to-top {
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--primary-color, #7091bc);
    color: #fdf6e3;
    border: none;
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    border: #dfdce8 solid;
}

.scroll-to-top:hover {
    background-color: var(--accent-color, #FFEAEA);
}