.scroll-to-top {
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--primary-color, #FFBF78);
    color: #fdf6e3;
    border: none;
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    border: #FFEEA9 solid;
    text-shadow: 2px 2px 2px #886742;
}

.scroll-to-top:hover {
    background-color: var(--accent-color, #FFEEA9);
}