.sidebar-preview {
    background-image: url('../images/parchment-texture.jpg');
    border: 10px inset rgb(113, 78, 147);
    position: fixed;
    right: 0;
    top: 10vh;
    bottom: 10vh;
    width: 220px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1);
}

.sidebar-preview h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sidebar-preview.collapsed {
    width: 10px;
    min-width: 10px;
    overflow: hidden;
    transition: width 0.3s;
}

.sidebar-toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: #b2997a;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
}
@media (max-width: 768px) {
    .sidebar-preview.collapsed {
    width: 3px;
    min-width: 2px;
    overflow: hidden;
    transition: width 0.3s;
}}

@media (max-width: 425px) {
    .sidebar-preview.collapsed {
    width: 0.1rem;
    min-width: 0px;
    overflow: hidden;
    transition: width 0.3s;
}
    
}
.blog-section ul {
    list-style: none;
    padding: 0;
}

.blog-section li {
    margin-bottom: 15px;
}

.blog-section h3 {
    margin: 0;
    font-size: 1rem;
}

.blog-section p {
    font-size: 0.9rem;
}

.blog-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px;
    transition: background-color 0.2s ease;
}

.blog-link:hover {
    color: white
}

.gallery-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gallery-item img {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
}

.gallery-item h4 {
    margin: 5px 0 0;
    font-size: 1rem;
}

.gallery-item p {
    font-size: 0.85rem;
}